body {
	background-color: LightGray;
}

/*div {
	border: solid 1px Chocolate;
}*/

.top-navigation {
/*	margin-left: 24.7em;
	margin-top: .8em;*/
	background-color: #fff;
}

.top-navigation > .content {
	width: 770px;
	height: 70px;
	margin: 0 auto;
}
.content {
	padding: 0px 15px;
}

.top-navigation .links {
	float: right;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links > .active:hover, .links li:hover {
	color: #000000;
	cursor: pointer;
}

.links li {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.05em;
	margin-top: .6em;
	margin-left: 1.4em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation li {
/*	display: inline-block;
	float: right;
	border: solid 1px black;*/
}

.logo {
	/*border: solid 1px black;*/
	margin-top: 1em;
	margin-left: -.7em;
}

.intro {
	background-image: url("images/Karma-background.jpg");
}